body {
    margin: 0;
    font-family: 'Aerial', sans-serif;
    background-color: #f9f9f9;
    color: #fff;
}

.contact-section {
    padding: 60px 20px;
    max-width: 1000px;
    margin: auto;
}

.contact-section h1 {
    color: #fcfcfc;
    font-size: 36px;
    margin-bottom: 30px;
    text-align: center;
}

.form-container {
    background-color: #0a0a19;
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
}

/* Contact form */
#contactForm {
    display: flex;
    flex-direction: column;
}

/* Labels */
#contactForm label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: 600;
    color: white;
}

/* Inputs and textarea */
#contactForm input,
#contactForm textarea {
    padding: 12px;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
    width: 100%;
}

/* Focus effect */
#contactForm input:focus,
#contactForm textarea:focus {
    border-color: #30b7f5;
    box-shadow: 0 0 5px rgba(48, 183, 245, 0.5);
}

/* Submit button */
#contactForm button[type="submit"] {
    margin-top: 25px;
    background: #30b7f5;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

/* Button hover */
#contactForm button[type="submit"]:hover {
    background: #1ca7e0;
}

/* Mobile */
@media (max-width: 768px) {

    .contact-section {
        padding: 40px 15px;
    }

    .form-container {
        padding: 30px 20px;
    }
}